<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/product.css">
    <title>第三周作業-後台</title>
</head>

<body>

</body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>第三周作業-產品列表</title>
</head>

<body>
    <div class="container mt-5" id="productApp">
        <div class="row">
            <div class="text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal"
                    @click="createNewProduct">建立新的產品</button>
            </div>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">分類</th>
                            <th scope="col">產品名稱</th>
                            <th scope="col">原價</th>
                            <th scope="col">售價</th>
                            <th scope="col">是否啟用</th>
                            <th scope="col">編輯</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="productList">
                            <tr v-for="product in productList" :key="product.id">
                                <td>{{product.category}}</td>
                                <td>{{product.title}}</td>
                                <td>{{product.origin_price}}</td>
                                <td>{{product.price}}</td>
                                <td><span class="text-success" v-if="product.is_enabled">啟用</span><span
                                        class="text-danger" v-else>未啟用</span></td>
                                <td>
                                    <button class="btn btn-outline-primary btn-sm me-2" @click="editProduct(product)"
                                        data-bs-toggle="modal" data-bs-target="#productModal" type="button">編輯</button>
                                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" type="button"
                                        @click="deleteId = product.id">刪除</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- productModal -->
        <div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title" id="productModalLabel">
                            <span v-if="isNew">新增產品</span>
                            <span v-else>編輯產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="row">
                            <div class="col-4">
                                <div class="mb-5">
                                    <label for="imageUrl" class="form-label">主要圖片</label>
                                    <input type="text" placeholder="請輸入圖片連結" id="imageUrl" class="form-control"
                                        v-model="tempProduct.imageUrl">
                                    <img :src="tempProduct.imageUrl" alt="" class="img-fluid">
                                </div>
                                <div>
                                    <h4>多圖新增</h4>
                                    <div v-if="Array.isArray(tempProduct.imagesUrl)">
                                        <div v-for="(image, key) in tempProduct.imagesUrl" :key="key" class="mb-2">
                                            <div class="d-flex justify-content-space-between">
                                                <label :for="image" class="form-label">圖片網址{{key+1}}</label>
                                                <!-- 刪除多圖的按鈕 -->
                                                <button type="button" class="btn-close btn-sm ms-auto"
                                                    aria-label="removeImage"
                                                    @click="tempProduct.imagesUrl.splice(key,1)"></button>
                                            </div>
                                            <input type="text" placeholder="請輸入圖片連結" class="form-control mb-1"
                                                v-model="tempProduct.imagesUrl[key]" :id="image">
                                            <img :src="image" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary w-100 mb-3" type="button"
                                        @click="addNewPhoto">新增圖片</button>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="row gy-3">
                                    <div class="col-12">
                                        <label for="productTitle" class="form-label">標題</label>
                                        <input type="text" id="productTitle" class="form-control" placeholder="請輸入標題"
                                            v-model="tempProduct.title">
                                    </div>
                                    <div class="col-6">
                                        <label for="productCategory" class="form-label">分類</label>
                                        <input type="text" id="productCategory" class="form-control" placeholder="請輸入分類"
                                            v-model="tempProduct.category">
                                    </div>
                                    <div class="col-6">
                                        <label for="productUnit" class="form-label">單位</label>
                                        <input type="text" id="productUnit" class="form-control" placeholder="請輸入單位"
                                            v-model="tempProduct.unit">
                                    </div>
                                    <div class="col-6">
                                        <label for="productOriginPrice" class="form-label">原價</label>
                                        <input type="number" id="productOriginPrice" class="form-control"
                                            placeholder="請輸入原價" min="0" v-model="tempProduct.origin_price">
                                    </div>
                                    <div class="col-6">
                                        <label for="productPrice" class="form-label">售價</label>
                                        <input type="number" id="productPrice" class="form-control" placeholder="請輸入售價"
                                            min="0" v-model="tempProduct.price">
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        <label for="productDescription" class="form-label">產品描述</label>
                                        <textarea id="productDescription" rows="3" class="form-control"
                                            v-model="tempProduct.description"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <label for="productContent" class="form-label">說明內容</label>
                                        <textarea id="productContent" rows="3" class="form-control"
                                            v-model="tempProduct.content"></textarea>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="is_enabled" class="form-check-input"
                                            v-model="tempProduct.is_enabled" :true-value="1" :false-value="0">
                                        <label for="is_enabled" class="form-label">是否啟用</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="confirmProduct">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- deleteModal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">確認刪除</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            @click="deleteId=''"></button>
                    </div>
                    <div class="modal-body">
                        您確定要刪除此產品嗎?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @click="deleteId=''">取消</button>
                        <button type="button" class="btn btn-outline-danger" @click="removeProduct">刪除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/products.js"></script>
</body>

</html>

</html>